li{
    /* display: inline; */
    /* list-style: circle; */
    padding: 10px;
    font-size: 5vw;
   
}
header{
    background-color: black;
    color: wheat;
    padding: 10px;
    position: sticky;
    top: 0;
   
}
/* *{margin: 0;
padding: 0;
} */

.container{
    min-height: 2333px;
    background-color: red;
}
ul
{
    list-style: square  inside url("fashion.jpeg");
    color: black;
    background-color: aqua;
    
}