ul{
    display: inline-grid;
    grid-template-columns: auto auto;
}
ul li{
    list-style: none;
    margin: 0 25px;
    padding: 25px 0;
}
*
{   
    padding: 0;
    margin: 0;

}

header{
    background-color: black;
    color: wheat;
}