.container
{
    background-color: red;
    height: 455px;
}
/* .box1
{
    border: 2px solid black;
    transform: translate(134px,56px);
    transform: rotate(35deg);
    transform-origin: 0;
    transform: scaleX(4);
    transform: scaleY(3);
    transform: skew(8deg,10deg);
     
} */

.box2
{
    display: inline-block;
    transform: translate(134px,56px);
    /* transform: skew(8deg,10deg); */ 
    /* transform: rotateX(35deg); */
    transform: rotateZ(35deg);
    transform: rotateY(50deg);
}