
/* html{
font-size: 20px;
} */
.container
{
    font-size: 34px;

}
.box{
    /* font-size: 3em;   */
    font-size: 3rem;
    background-color: red;
}
.box2
{
    background-color: aqua;
    width: 50vw;
    height: 50vh;
}